{
  "openapi": "3.0.3",
  "info": {
    "title": "Plane Ticket",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.tiketku.risalamin.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:4000",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Auth", "Login"],
        "summary": "Login user",
        "description": "Login user",
        "operationId": "loginUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "aminrisal@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Test123445"
                  }
                }
              },
              "examples": {
                "Login user": {
                  "value": {
                    "email": "aminrisal@gmail.com",
                    "password": "Test123445"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 - Login user",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "705"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 28 Oct 2024 14:56:24 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2c1-YCsHqnk+DZuW/l17RaDwC+iWwaU\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "admin": {
                          "type": "boolean",
                          "example": false
                        },
                        "email": {
                          "type": "string",
                          "example": "aminrisal@gmail.com"
                        },
                        "id": {
                          "type": "string",
                          "example": "019361ac-5bce-7cc0-bc63-a31244aeaa92"
                        },
                        "image": {
                          "nullable": true,
                          "example": null
                        },
                        "name": {
                          "type": "string",
                          "example": "Risal Amin"
                        },
                        "phoneNumber": {
                          "type": "string",
                          "example": "+628234234223"
                        },
                        "token": {
                          "type": "string",
                          "example": "{{vault:json-web-token}}"
                        },
                        "verified": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Login user": {
                    "value": {
                      "data": {
                        "admin": false,
                        "email": "aminrisal@gmail.com",
                        "id": "019361ac-5bce-7cc0-bc63-a31244aeaa92",
                        "image": null,
                        "name": "Risal Amin",
                        "phoneNumber": "+628234234223",
                        "token": "{{vault:json-web-token}}",
                        "verified": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid body",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "55"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 28 Oct 2024 14:47:24 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"37-iwBwWbSbgye7+gnJ7UPyRDiJpQk\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "email Invalid email"
                          },
                          "example": [
                            "email Invalid email",
                            "password String must contain at least 8 character(s)"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid body"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid body": {
                    "value": {
                      "error": {
                        "errors": [
                          "email Invalid email",
                          "password String must contain at least 8 character(s)"
                        ],
                        "message": "Invalid body"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 - Invalid email or password",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "72"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 28 Oct 2024 14:56:53 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"48-ASzrHqa9FgPJyV8rimHM1WoSP+g\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Email or password is incorrect, please try again"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "401 - Invalid email or password": {
                    "value": {
                      "error": {
                        "message": "Email or password is incorrect, please try again"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Auth", "Register"],
        "summary": "Register user",
        "description": "Register user",
        "operationId": "registerUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "Jakarta"
                  },
                  "email": {
                    "type": "string",
                    "example": "aminrisal@gmail.com"
                  },
                  "identityNumber": {
                    "type": "string",
                    "example": "123456"
                  },
                  "identityType": {
                    "type": "string",
                    "example": "KTP"
                  },
                  "name": {
                    "type": "string",
                    "example": "Risal Amin"
                  },
                  "password": {
                    "type": "string",
                    "example": "Test12345"
                  }
                }
              },
              "examples": {
                "Register user": {
                  "value": {
                    "address": "Jakarta",
                    "email": "aminrisal@gmail.com",
                    "identityNumber": "123456",
                    "identityType": "KTP",
                    "name": "Risal Amin",
                    "password": "Test12345"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 - Register success",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "69"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:12:19 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"45-RdQjrc+ICoWB2Jytu2E9+hiXLVg\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Register success, waiting for OTP verification"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Register success": {
                    "value": {
                      "data": {
                        "message": "Register success, waiting for OTP verification"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid body",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "67"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 25 Oct 2024 12:26:32 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"43-5UtZ1onPVVwXbuAs7IYpj9rpAiI\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "email Invalid email"
                          },
                          "example": [
                            "email Invalid email",
                            "password String must contain at least 8 character(s)"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid body"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid body": {
                    "value": {
                      "error": {
                        "errors": [
                          "email Invalid email",
                          "password String must contain at least 8 character(s)"
                        ],
                        "message": "Invalid body"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409 - User already registered",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "47"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 25 Oct 2024 12:20:38 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2f-KpoN77K9dPEL1kfpPHwldF4K8+I\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Email already exists"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "409 - User already registered": {
                    "value": {
                      "error": {
                        "message": "Email already exists"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/otp": {
      "post": {
        "tags": ["Auth", "Register"],
        "summary": "Re create OTP user verification",
        "description": "Re create OTP user verification",
        "operationId": "reCreateOtpUserVerification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "random@gmail"
                  }
                }
              },
              "examples": {
                "Re create OTP user verification": {
                  "value": {
                    "email": "random@gmail"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 - OTP sent successfully",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "35"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:01:13 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"23-YsSrbfhPBo5PNRhpOhArqd7KnMQ\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "OTP sent successfully"
                    }
                  }
                },
                "examples": {
                  "201 - OTP sent successfully": {
                    "value": {
                      "message": "OTP sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid body",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "69"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:03:02 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"45-dlIHAevRfAqIjoRyraaECe/YkPc\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "email Invalid email"
                          },
                          "example": ["email Invalid email"]
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid body"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid body": {
                    "value": {
                      "error": {
                        "errors": ["email Invalid email"],
                        "message": "Invalid body"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 - User not found",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "38"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:02:35 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"26-BsgGbTj6n3ZmvCCse0wan/1YC1c\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "User not found"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "404 - User not found": {
                    "value": {
                      "error": {
                        "message": "User not found"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/otp/verify": {
      "post": {
        "tags": ["Auth", "Register"],
        "summary": "Verify OTP validity",
        "description": "Verify OTP validity",
        "operationId": "verifyOtpValidity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "random@gmail.com"
                  }
                }
              },
              "examples": {
                "Verify OTP validity": {
                  "value": {
                    "email": "random@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 - OTP verified successfully",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:48:33 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"27-gmemsCpNdXZC5ApWNn/ZciPyh/8\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "OTP verified successfully"
                    }
                  }
                },
                "examples": {
                  "200 - OTP verified successfully": {
                    "value": {
                      "message": "OTP verified successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid body",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "69"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:03:02 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"45-dlIHAevRfAqIjoRyraaECe/YkPc\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "email Invalid email"
                          },
                          "example": ["email Invalid email"]
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid body"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid body": {
                    "value": {
                      "error": {
                        "errors": ["email Invalid email"],
                        "message": "Invalid body"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 - User not found",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "38"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:02:35 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"26-BsgGbTj6n3ZmvCCse0wan/1YC1c\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "User not found"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "404 - User not found": {
                    "value": {
                      "error": {
                        "message": "User not found"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/password-reset/{token}": {
      "get": {
        "tags": ["Auth", "Password reset"],
        "summary": "Check validity of password reset by token",
        "description": "Check validity of password reset by token",
        "operationId": "checkValidityOfPasswordResetByToken",
        "responses": {
          "200": {
            "description": "200 - Pasword reset token is valid",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "43"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 18 Nov 2024 14:16:44 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2b-/lAUbmksx8vCCteYDEIOyQOUIzs\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Password reset token is valid"
                    }
                  }
                },
                "examples": {
                  "200 - Pasword reset token is valid": {
                    "value": {
                      "message": "Password reset token is valid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid or expired token",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "48"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 18 Nov 2024 14:12:50 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"30-uW40JOJaqUjjyJGLsURgIsvjbgA\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Invalid or expired token"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid or expired token": {
                    "value": {
                      "error": {
                        "message": "Invalid or expired token"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "IepV3Ib0XsNEuVpDulgCxUeptMpPU69B"
          }
        }
      ]
    },
    "/auth/password-reset": {
      "post": {
        "tags": ["Auth", "Password reset"],
        "summary": "Request reset password from email",
        "description": "Request reset password from email",
        "operationId": "requestResetPasswordFromEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "new-password-123"
                  },
                  "token": {
                    "type": "string",
                    "example": "Xp-kl4XvO1c00qzQyILMSoUfC4-e1J45"
                  }
                }
              },
              "examples": {
                "Change password with token and password": {
                  "value": {
                    "password": "new-password-123",
                    "token": "Xp-kl4XvO1c00qzQyILMSoUfC4-e1J45"
                  }
                },
                "Request reset password from email": {
                  "value": {
                    "email": "@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 - Password reset email sent / 200 - Password reset successful",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 18 Nov 2024 14:42:21 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"27-L4xvc+jp/avJkeCZKkXIaqi7KoM\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Password reset email sent if email exists"
                    }
                  }
                },
                "examples": {
                  "200 - Password reset email sent": {
                    "value": {
                      "message": "Password reset email sent if email exists"
                    }
                  },
                  "200 - Password reset successful": {
                    "value": {
                      "message": "Password reset successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid body / 400 - Invalid body / 400 - Invalid or expired token",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "48"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 18 Nov 2024 14:17:57 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"30-uW40JOJaqUjjyJGLsURgIsvjbgA\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "password String must contain at least 8 character(s)"
                          },
                          "example": [
                            "password String must contain at least 8 character(s)"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "\"email\" must be a valid email"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid body": {
                    "value": {
                      "error": {
                        "errors": [
                          "password String must contain at least 8 character(s)"
                        ],
                        "message": "Invalid body"
                      }
                    }
                  },
                  "400 - Invalid or expired token": {
                    "value": {
                      "error": {
                        "message": "Invalid or expired token"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": ["User"],
        "summary": "Get current user",
        "description": "Get current user",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "200 - Get current user",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "256"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 29 Oct 2024 04:13:27 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"100-n2PTDtqSVspCElSvg8Dh/TCLs74\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "type": "string",
                          "example": "2024-10-25T12:51:28.774Z"
                        },
                        "email": {
                          "type": "string",
                          "example": "aminrisal@gmail.com"
                        },
                        "id": {
                          "type": "string",
                          "example": "5ec59a42-64f4-437d-8477-3b3db84c60aa"
                        },
                        "name": {
                          "type": "string",
                          "example": "Risal Amin"
                        },
                        "password": {
                          "type": "string",
                          "example": "$2b$10$NQZCR6olPgVJXaqceA8s.eL9zFGyR5SCR/0z1pTDvcbiqcLcQaIFq"
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2024-10-25T12:51:28.774Z"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Get current user": {
                    "value": {
                      "data": {
                        "createdAt": "2024-10-25T12:51:28.774Z",
                        "email": "aminrisal@gmail.com",
                        "id": "5ec59a42-64f4-437d-8477-3b3db84c60aa",
                        "name": "Risal Amin",
                        "password": "$2b$10$NQZCR6olPgVJXaqceA8s.eL9zFGyR5SCR/0z1pTDvcbiqcLcQaIFq",
                        "updatedAt": "2024-10-25T12:51:28.774Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 - Invalid token",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "41"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 28 Oct 2024 15:00:10 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"29-ZgbqETaDNxqczg11v3KWsPM+ATo\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid authorization token"
                    }
                  }
                },
                "examples": {
                  "401 - Invalid token": {
                    "value": {
                      "message": "Invalid authorization token"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": ["User"],
        "summary": "Update user by id",
        "description": "Update user by id",
        "operationId": "updateUserById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "example": "https://storage.cloud.google.com/plane-ticket-be.firebasestorage.app/public/26f3a700-ab4d-49e2-8aa9-dc33aba1e0a7.png"
                  },
                  "name": {
                    "type": "string",
                    "example": "Rem rin"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": "+628123456789"
                  }
                }
              },
              "examples": {
                "Update user by id": {
                  "value": {
                    "image": "https://storage.cloud.google.com/plane-ticket-be.firebasestorage.app/public/26f3a700-ab4d-49e2-8aa9-dc33aba1e0a7.png",
                    "name": "Rem rin",
                    "phoneNumber": "+628123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 - Update user by ID",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "https://tiketku.risalamin.com"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "289"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 05 Dec 2024 15:34:03 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"121-ZjVEaJdV9qayP9HLecrEJeEPooM\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User updated successfully"
                    }
                  }
                },
                "examples": {
                  "201 - Update user by ID": {
                    "value": {
                      "message": "User updated successfully"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409 - Phone number already exists",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "https://tiketku.risalamin.com"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "51"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 10 Dec 2024 10:38:52 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"33-Aaneqqyuv33sbayoyzQELhV3f9c\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Phone number already exists"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "409 - Phone number already exists": {
                    "value": {
                      "error": {
                        "message": "Phone number already exists"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/flights": {
      "get": {
        "tags": ["Flight"],
        "summary": "Get flights from query",
        "description": "[https://plane-ticket-be.web.app/flights](https://plane-ticket-be.web.app/docs)",
        "operationId": "getFlightsFromQuery",
        "parameters": [
          {
            "name": "departureAirportId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "016ed705-3c3e-463d-abe9-47dfb395f07f"
            }
          },
          {
            "name": "destinationAirportId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "7e1d9c8c-01b3-400c-a550-99b7ac84fcfd"
            }
          },
          {
            "name": "departureDate",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-12-06"
            }
          },
          {
            "name": "returnDate",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2024-12-10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - Get flights from query",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "https://tiketku.risalamin.com"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "2368"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 02 Dec 2024 13:24:58 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"940-4Rewv+EevQFS2Sdi08OPrh4+wE0\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "departureFlights": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "airline": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "example": "EK"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "267f42e0-f0ac-4e2f-9b31-11a69088868b"
                                  },
                                  "image": {
                                    "type": "string",
                                    "example": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888623939_Tnmjd1qgR.png"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Emirates"
                                  }
                                }
                              },
                              "airplane": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "573abca2-1bc7-4635-9948-08be534e5227"
                                  },
                                  "maxColumn": {
                                    "type": "number",
                                    "example": 6
                                  },
                                  "maxRow": {
                                    "type": "number",
                                    "example": 12
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Boeing 737"
                                  }
                                }
                              },
                              "arrivalTimestamp": {
                                "type": "string",
                                "example": "2024-12-06T21:55:00.000Z"
                              },
                              "departureAirport": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string",
                                    "example": "New York"
                                  },
                                  "code": {
                                    "type": "string",
                                    "example": "JFK"
                                  },
                                  "continent": {
                                    "type": "string",
                                    "example": "AMERICA"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "016ed705-3c3e-463d-abe9-47dfb395f07f"
                                  },
                                  "image": {
                                    "type": "string",
                                    "example": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888534393_NHshwCyEx.jpg"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "John F. Kennedy International Airport"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "INTERNATIONAL"
                                  }
                                }
                              },
                              "departureTimestamp": {
                                "type": "string",
                                "example": "2024-12-06T18:15:00.000Z"
                              },
                              "destinationAirport": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string",
                                    "example": "Bengkulu"
                                  },
                                  "code": {
                                    "type": "string",
                                    "example": "BKS"
                                  },
                                  "continent": {
                                    "type": "string",
                                    "example": "ASIA"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "7e1d9c8c-01b3-400c-a550-99b7ac84fcfd"
                                  },
                                  "image": {
                                    "type": "string",
                                    "example": "https://ik.imagekit.io/iaqozxfxq/IMG-1719062019111_b1PBlRDVt.jpeg"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Fatmawati Soekarno"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "DOMESTIC"
                                  }
                                }
                              },
                              "discount": {
                                "nullable": true,
                                "example": null
                              },
                              "id": {
                                "type": "string",
                                "example": "dd45fa9e-3429-4a36-8d3c-3abae219bced"
                              },
                              "price": {
                                "type": "number",
                                "example": 4021244
                              },
                              "type": {
                                "type": "string",
                                "example": "BUSINESS"
                              }
                            }
                          },
                          "example": [
                            {
                              "airline": {
                                "code": "EK",
                                "id": "267f42e0-f0ac-4e2f-9b31-11a69088868b",
                                "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888623939_Tnmjd1qgR.png",
                                "name": "Emirates"
                              },
                              "airplane": {
                                "id": "573abca2-1bc7-4635-9948-08be534e5227",
                                "maxColumn": 6,
                                "maxRow": 12,
                                "name": "Boeing 737"
                              },
                              "arrivalTimestamp": "2024-12-06T21:55:00.000Z",
                              "departureAirport": {
                                "city": "New York",
                                "code": "JFK",
                                "continent": "AMERICA",
                                "id": "016ed705-3c3e-463d-abe9-47dfb395f07f",
                                "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888534393_NHshwCyEx.jpg",
                                "name": "John F. Kennedy International Airport",
                                "type": "INTERNATIONAL"
                              },
                              "departureTimestamp": "2024-12-06T18:15:00.000Z",
                              "destinationAirport": {
                                "city": "Bengkulu",
                                "code": "BKS",
                                "continent": "ASIA",
                                "id": "7e1d9c8c-01b3-400c-a550-99b7ac84fcfd",
                                "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1719062019111_b1PBlRDVt.jpeg",
                                "name": "Fatmawati Soekarno",
                                "type": "DOMESTIC"
                              },
                              "discount": null,
                              "id": "dd45fa9e-3429-4a36-8d3c-3abae219bced",
                              "price": 4021244,
                              "type": "BUSINESS"
                            }
                          ]
                        },
                        "returnFlights": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "airline": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "example": "EK"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "267f42e0-f0ac-4e2f-9b31-11a69088868b"
                                  },
                                  "image": {
                                    "type": "string",
                                    "example": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888623939_Tnmjd1qgR.png"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Emirates"
                                  }
                                }
                              },
                              "airplane": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "cdb6f274-91f7-4c19-ada6-c9d1ac6b641b"
                                  },
                                  "maxColumn": {
                                    "type": "number",
                                    "example": 4
                                  },
                                  "maxRow": {
                                    "type": "number",
                                    "example": 10
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Airbus A380"
                                  }
                                }
                              },
                              "arrivalTimestamp": {
                                "type": "string",
                                "example": "2024-12-10T09:35:00.000Z"
                              },
                              "departureAirport": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string",
                                    "example": "Bengkulu"
                                  },
                                  "code": {
                                    "type": "string",
                                    "example": "BKS"
                                  },
                                  "continent": {
                                    "type": "string",
                                    "example": "ASIA"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "7e1d9c8c-01b3-400c-a550-99b7ac84fcfd"
                                  },
                                  "image": {
                                    "type": "string",
                                    "example": "https://ik.imagekit.io/iaqozxfxq/IMG-1719062019111_b1PBlRDVt.jpeg"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Fatmawati Soekarno"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "DOMESTIC"
                                  }
                                }
                              },
                              "departureTimestamp": {
                                "type": "string",
                                "example": "2024-12-10T05:00:00.000Z"
                              },
                              "destinationAirport": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string",
                                    "example": "New York"
                                  },
                                  "code": {
                                    "type": "string",
                                    "example": "JFK"
                                  },
                                  "continent": {
                                    "type": "string",
                                    "example": "AMERICA"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "016ed705-3c3e-463d-abe9-47dfb395f07f"
                                  },
                                  "image": {
                                    "type": "string",
                                    "example": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888534393_NHshwCyEx.jpg"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "John F. Kennedy International Airport"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "INTERNATIONAL"
                                  }
                                }
                              },
                              "discount": {
                                "type": "number",
                                "nullable": true,
                                "example": 47
                              },
                              "id": {
                                "type": "string",
                                "example": "7921d468-be44-4ce7-8b2f-ad28d9e75d22"
                              },
                              "price": {
                                "type": "number",
                                "example": 5585583
                              },
                              "type": {
                                "type": "string",
                                "example": "ECONOMY"
                              }
                            }
                          },
                          "example": [
                            {
                              "airline": {
                                "code": "EK",
                                "id": "267f42e0-f0ac-4e2f-9b31-11a69088868b",
                                "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888623939_Tnmjd1qgR.png",
                                "name": "Emirates"
                              },
                              "airplane": {
                                "id": "cdb6f274-91f7-4c19-ada6-c9d1ac6b641b",
                                "maxColumn": 4,
                                "maxRow": 10,
                                "name": "Airbus A380"
                              },
                              "arrivalTimestamp": "2024-12-10T09:35:00.000Z",
                              "departureAirport": {
                                "city": "Bengkulu",
                                "code": "BKS",
                                "continent": "ASIA",
                                "id": "7e1d9c8c-01b3-400c-a550-99b7ac84fcfd",
                                "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1719062019111_b1PBlRDVt.jpeg",
                                "name": "Fatmawati Soekarno",
                                "type": "DOMESTIC"
                              },
                              "departureTimestamp": "2024-12-10T05:00:00.000Z",
                              "destinationAirport": {
                                "city": "New York",
                                "code": "JFK",
                                "continent": "AMERICA",
                                "id": "016ed705-3c3e-463d-abe9-47dfb395f07f",
                                "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888534393_NHshwCyEx.jpg",
                                "name": "John F. Kennedy International Airport",
                                "type": "INTERNATIONAL"
                              },
                              "discount": 47,
                              "id": "7921d468-be44-4ce7-8b2f-ad28d9e75d22",
                              "price": 5585583,
                              "type": "ECONOMY"
                            },
                            {
                              "airline": {
                                "code": "KL",
                                "id": "03c22aa6-7ac1-4e2b-ad11-781a0b269deb",
                                "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718889525326_2LRUP6hEJ.png",
                                "name": "KLM Royal Dutch"
                              },
                              "airplane": {
                                "id": "cdb6f274-91f7-4c19-ada6-c9d1ac6b641b",
                                "maxColumn": 4,
                                "maxRow": 10,
                                "name": "Airbus A380"
                              },
                              "arrivalTimestamp": "2024-12-10T15:10:00.000Z",
                              "departureAirport": {
                                "city": "Bengkulu",
                                "code": "BKS",
                                "continent": "ASIA",
                                "id": "7e1d9c8c-01b3-400c-a550-99b7ac84fcfd",
                                "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1719062019111_b1PBlRDVt.jpeg",
                                "name": "Fatmawati Soekarno",
                                "type": "DOMESTIC"
                              },
                              "departureTimestamp": "2024-12-10T10:25:00.000Z",
                              "destinationAirport": {
                                "city": "New York",
                                "code": "JFK",
                                "continent": "AMERICA",
                                "id": "016ed705-3c3e-463d-abe9-47dfb395f07f",
                                "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888534393_NHshwCyEx.jpg",
                                "name": "John F. Kennedy International Airport",
                                "type": "INTERNATIONAL"
                              },
                              "discount": null,
                              "id": "378b9163-4f47-449b-9b65-8be43b7775be",
                              "price": 3975934,
                              "type": "ECONOMY"
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Get flights from query": {
                    "value": {
                      "data": {
                        "departureFlights": [
                          {
                            "airline": {
                              "code": "EK",
                              "id": "267f42e0-f0ac-4e2f-9b31-11a69088868b",
                              "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888623939_Tnmjd1qgR.png",
                              "name": "Emirates"
                            },
                            "airplane": {
                              "id": "573abca2-1bc7-4635-9948-08be534e5227",
                              "maxColumn": 6,
                              "maxRow": 12,
                              "name": "Boeing 737"
                            },
                            "arrivalTimestamp": "2024-12-06T21:55:00.000Z",
                            "departureAirport": {
                              "city": "New York",
                              "code": "JFK",
                              "continent": "AMERICA",
                              "id": "016ed705-3c3e-463d-abe9-47dfb395f07f",
                              "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888534393_NHshwCyEx.jpg",
                              "name": "John F. Kennedy International Airport",
                              "type": "INTERNATIONAL"
                            },
                            "departureTimestamp": "2024-12-06T18:15:00.000Z",
                            "destinationAirport": {
                              "city": "Bengkulu",
                              "code": "BKS",
                              "continent": "ASIA",
                              "id": "7e1d9c8c-01b3-400c-a550-99b7ac84fcfd",
                              "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1719062019111_b1PBlRDVt.jpeg",
                              "name": "Fatmawati Soekarno",
                              "type": "DOMESTIC"
                            },
                            "discount": null,
                            "id": "dd45fa9e-3429-4a36-8d3c-3abae219bced",
                            "price": 4021244,
                            "type": "BUSINESS"
                          }
                        ],
                        "returnFlights": [
                          {
                            "airline": {
                              "code": "EK",
                              "id": "267f42e0-f0ac-4e2f-9b31-11a69088868b",
                              "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888623939_Tnmjd1qgR.png",
                              "name": "Emirates"
                            },
                            "airplane": {
                              "id": "cdb6f274-91f7-4c19-ada6-c9d1ac6b641b",
                              "maxColumn": 4,
                              "maxRow": 10,
                              "name": "Airbus A380"
                            },
                            "arrivalTimestamp": "2024-12-10T09:35:00.000Z",
                            "departureAirport": {
                              "city": "Bengkulu",
                              "code": "BKS",
                              "continent": "ASIA",
                              "id": "7e1d9c8c-01b3-400c-a550-99b7ac84fcfd",
                              "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1719062019111_b1PBlRDVt.jpeg",
                              "name": "Fatmawati Soekarno",
                              "type": "DOMESTIC"
                            },
                            "departureTimestamp": "2024-12-10T05:00:00.000Z",
                            "destinationAirport": {
                              "city": "New York",
                              "code": "JFK",
                              "continent": "AMERICA",
                              "id": "016ed705-3c3e-463d-abe9-47dfb395f07f",
                              "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888534393_NHshwCyEx.jpg",
                              "name": "John F. Kennedy International Airport",
                              "type": "INTERNATIONAL"
                            },
                            "discount": 47,
                            "id": "7921d468-be44-4ce7-8b2f-ad28d9e75d22",
                            "price": 5585583,
                            "type": "ECONOMY"
                          },
                          {
                            "airline": {
                              "code": "KL",
                              "id": "03c22aa6-7ac1-4e2b-ad11-781a0b269deb",
                              "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718889525326_2LRUP6hEJ.png",
                              "name": "KLM Royal Dutch"
                            },
                            "airplane": {
                              "id": "cdb6f274-91f7-4c19-ada6-c9d1ac6b641b",
                              "maxColumn": 4,
                              "maxRow": 10,
                              "name": "Airbus A380"
                            },
                            "arrivalTimestamp": "2024-12-10T15:10:00.000Z",
                            "departureAirport": {
                              "city": "Bengkulu",
                              "code": "BKS",
                              "continent": "ASIA",
                              "id": "7e1d9c8c-01b3-400c-a550-99b7ac84fcfd",
                              "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1719062019111_b1PBlRDVt.jpeg",
                              "name": "Fatmawati Soekarno",
                              "type": "DOMESTIC"
                            },
                            "departureTimestamp": "2024-12-10T10:25:00.000Z",
                            "destinationAirport": {
                              "city": "New York",
                              "code": "JFK",
                              "continent": "AMERICA",
                              "id": "016ed705-3c3e-463d-abe9-47dfb395f07f",
                              "image": "https://ik.imagekit.io/iaqozxfxq/IMG-1718888534393_NHshwCyEx.jpg",
                              "name": "John F. Kennedy International Airport",
                              "type": "INTERNATIONAL"
                            },
                            "discount": null,
                            "id": "378b9163-4f47-449b-9b65-8be43b7775be",
                            "price": 3975934,
                            "type": "ECONOMY"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid query",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "https://tiketku.risalamin.com"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "134"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 28 Nov 2024 16:35:40 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"86-EX2pVndo9KW87dWuSm6xdhCc0xQ\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "departureAirportId Required"
                          },
                          "example": [
                            "departureAirportId Required",
                            "destinationAirportId Required",
                            "departureDate Required"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid query params"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid query": {
                    "value": {
                      "error": {
                        "errors": [
                          "departureAirportId Required",
                          "destinationAirportId Required",
                          "departureDate Required"
                        ],
                        "message": "Invalid query params"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/flights/favorites": {
      "get": {
        "tags": ["Flight"],
        "summary": "Get favorite flights",
        "description": "Get favorite flights",
        "operationId": "getFavoriteFlights",
        "parameters": [
          {
            "name": "continent",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "ASIA"
            },
            "description": "ASIA, EUROPE, AFRICA, AMERICA, AUSTRALIA"
          },
          {
            "name": "nextCursor",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "401cc13a-acaf-4f3f-b820-53bc39a169d7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - Get favorite flights",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "https://tiketku.risalamin.com"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "9219"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 07 Dec 2024 17:45:55 GMT"
                }
              },
              "ETag": {
[...]
