{
  "openapi": "3.0.3",
  "info": {
    "title": "Plane Ticket",
    "description": "Collection of Plane Ticket API endpoints.",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.tiketku.risalamin.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:4000",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Auth", "Login"],
        "summary": "Login user",
        "description": "Login user",
        "operationId": "loginUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "aminrisal@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "Test123445"
                  }
                }
              },
              "examples": {
                "Login user": {
                  "value": {
                    "email": "aminrisal@gmail.com",
                    "password": "Test123445"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 - Login user",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "705"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 28 Oct 2024 14:56:24 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2c1-YCsHqnk+DZuW/l17RaDwC+iWwaU\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "admin": {
                          "type": "boolean",
                          "example": false
                        },
                        "email": {
                          "type": "string",
                          "example": "aminrisal@gmail.com"
                        },
                        "id": {
                          "type": "string",
                          "example": "019361ac-5bce-7cc0-bc63-a31244aeaa92"
                        },
                        "image": {
                          "nullable": true,
                          "example": null
                        },
                        "name": {
                          "type": "string",
                          "example": "Risal Amin"
                        },
                        "phoneNumber": {
                          "type": "string",
                          "example": "+628234234223"
                        },
                        "token": {
                          "type": "string",
                          "example": "{{vault:json-web-token}}"
                        },
                        "verified": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Login user": {
                    "value": {
                      "data": {
                        "admin": false,
                        "email": "aminrisal@gmail.com",
                        "id": "019361ac-5bce-7cc0-bc63-a31244aeaa92",
                        "image": null,
                        "name": "Risal Amin",
                        "phoneNumber": "+628234234223",
                        "token": "{{vault:json-web-token}}",
                        "verified": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid body",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "55"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 28 Oct 2024 14:47:24 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"37-iwBwWbSbgye7+gnJ7UPyRDiJpQk\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "email Invalid email"
                          },
                          "example": [
                            "email Invalid email",
                            "password String must contain at least 8 character(s)"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid body"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid body": {
                    "value": {
                      "error": {
                        "errors": [
                          "email Invalid email",
                          "password String must contain at least 8 character(s)"
                        ],
                        "message": "Invalid body"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 - Invalid email or password",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "72"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 28 Oct 2024 14:56:53 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"48-ASzrHqa9FgPJyV8rimHM1WoSP+g\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Email or password is incorrect, please try again"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "401 - Invalid email or password": {
                    "value": {
                      "error": {
                        "message": "Email or password is incorrect, please try again"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Auth", "Register"],
        "summary": "Register user",
        "description": "Register user",
        "operationId": "registerUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "example": "Jakarta"
                  },
                  "email": {
                    "type": "string",
                    "example": "aminrisal@gmail.com"
                  },
                  "identityNumber": {
                    "type": "string",
                    "example": "123456"
                  },
                  "identityType": {
                    "type": "string",
                    "example": "KTP"
                  },
                  "name": {
                    "type": "string",
                    "example": "Risal Amin"
                  },
                  "password": {
                    "type": "string",
                    "example": "Test12345"
                  }
                }
              },
              "examples": {
                "Register user": {
                  "value": {
                    "address": "Jakarta",
                    "email": "aminrisal@gmail.com",
                    "identityNumber": "123456",
                    "identityType": "KTP",
                    "name": "Risal Amin",
                    "password": "Test12345"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 - Register success",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "69"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:12:19 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"45-RdQjrc+ICoWB2Jytu2E9+hiXLVg\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Register success, waiting for OTP verification"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Register success": {
                    "value": {
                      "data": {
                        "message": "Register success, waiting for OTP verification"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid body",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "67"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 25 Oct 2024 12:26:32 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"43-5UtZ1onPVVwXbuAs7IYpj9rpAiI\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "email Invalid email"
                          },
                          "example": [
                            "email Invalid email",
                            "password String must contain at least 8 character(s)"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid body"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid body": {
                    "value": {
                      "error": {
                        "errors": [
                          "email Invalid email",
                          "password String must contain at least 8 character(s)"
                        ],
                        "message": "Invalid body"
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409 - User already registered",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "47"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 25 Oct 2024 12:20:38 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2f-KpoN77K9dPEL1kfpPHwldF4K8+I\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Email already exists"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "409 - User already registered": {
                    "value": {
                      "error": {
                        "message": "Email already exists"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/otp": {
      "post": {
        "tags": ["Auth", "Register"],
        "summary": "Regenerate OTP user verification",
        "description": "Regenerate OTP user verification",
        "operationId": "regenerateOtpUserVerification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "random@gmail"
                  }
                }
              },
              "examples": {
                "Regenerate OTP user verification": {
                  "value": {
                    "email": "random@gmail"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 - OTP sent successfully",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "35"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:01:13 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"23-YsSrbfhPBo5PNRhpOhArqd7KnMQ\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "OTP sent successfully"
                    }
                  }
                },
                "examples": {
                  "201 - OTP sent successfully": {
                    "value": {
                      "message": "OTP sent successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid body",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "69"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:03:02 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"45-dlIHAevRfAqIjoRyraaECe/YkPc\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "email Invalid email"
                          },
                          "example": ["email Invalid email"]
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid body"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid body": {
                    "value": {
                      "error": {
                        "errors": ["email Invalid email"],
                        "message": "Invalid body"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 - User not found",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "38"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:02:35 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"26-BsgGbTj6n3ZmvCCse0wan/1YC1c\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "User not found"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "404 - User not found": {
                    "value": {
                      "error": {
                        "message": "User not found"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/otp/verify": {
      "post": {
        "tags": ["Auth", "Register"],
        "summary": "Verify OTP validity",
        "description": "Verify OTP validity",
        "operationId": "verifyOtpValidity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "random@gmail.com"
                  }
                }
              },
              "examples": {
                "Verify OTP validity": {
                  "value": {
                    "email": "random@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 - OTP verified successfully",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:48:33 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"27-gmemsCpNdXZC5ApWNn/ZciPyh/8\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "OTP verified successfully"
                    }
                  }
                },
                "examples": {
                  "200 - OTP verified successfully": {
                    "value": {
                      "message": "OTP verified successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid body",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "69"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:03:02 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"45-dlIHAevRfAqIjoRyraaECe/YkPc\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "email Invalid email"
                          },
                          "example": ["email Invalid email"]
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid body"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid body": {
                    "value": {
                      "error": {
                        "errors": ["email Invalid email"],
                        "message": "Invalid body"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404 - User not found",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "38"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 25 Nov 2024 05:02:35 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"26-BsgGbTj6n3ZmvCCse0wan/1YC1c\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "User not found"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "404 - User not found": {
                    "value": {
                      "error": {
                        "message": "User not found"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/password-reset/{token}": {
      "get": {
        "tags": ["Auth", "Password reset"],
        "summary": "Check validity of password reset by token",
        "description": "Check validity of password reset by token",
        "operationId": "checkValidityOfPasswordResetByToken",
        "responses": {
          "200": {
            "description": "200 - Pasword reset token is valid",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "43"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 18 Nov 2024 14:16:44 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2b-/lAUbmksx8vCCteYDEIOyQOUIzs\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Password reset token is valid"
                    }
                  }
                },
                "examples": {
                  "200 - Pasword reset token is valid": {
                    "value": {
                      "message": "Password reset token is valid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid or expired token",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "48"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 18 Nov 2024 14:12:50 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"30-uW40JOJaqUjjyJGLsURgIsvjbgA\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Invalid or expired token"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid or expired token": {
                    "value": {
                      "error": {
                        "message": "Invalid or expired token"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "example": "IepV3Ib0XsNEuVpDulgCxUeptMpPU69B"
          }
        }
      ]
    },
    "/auth/password-reset": {
      "post": {
        "tags": ["Auth", "Password reset"],
        "summary": "Request reset password from email",
        "description": "Request reset password from email",
        "operationId": "requestResetPasswordFromEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "new-password-123"
                  },
                  "token": {
                    "type": "string",
                    "example": "Xp-kl4XvO1c00qzQyILMSoUfC4-e1J45"
                  }
                }
              },
              "examples": {
                "Change password with token and password": {
                  "value": {
                    "password": "new-password-123",
                    "token": "Xp-kl4XvO1c00qzQyILMSoUfC4-e1J45"
                  }
                },
                "Request reset password from email": {
                  "value": {
                    "email": "@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 - Password reset email sent / 200 - Password reset successful",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 18 Nov 2024 14:42:21 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"27-L4xvc+jp/avJkeCZKkXIaqi7KoM\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Password reset email sent if email exists"
                    }
                  }
                },
                "examples": {
                  "200 - Password reset email sent": {
                    "value": {
                      "message": "Password reset email sent if email exists"
                    }
                  },
                  "200 - Password reset successful": {
                    "value": {
                      "message": "Password reset successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 - Invalid body / 400 - Invalid body / 400 - Invalid or expired token",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "48"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 18 Nov 2024 14:17:57 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"30-uW40JOJaqUjjyJGLsURgIsvjbgA\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "password String must contain at least 8 character(s)"
                          },
                          "example": [
                            "password String must contain at least 8 character(s)"
                          ]
                        },
                        "message": {
                          "type": "string",
                          "example": "\"email\" must be a valid email"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "400 - Invalid body": {
                    "value": {
                      "error": {
                        "errors": [
                          "password String must contain at least 8 character(s)"
                        ],
                        "message": "Invalid body"
                      }
                    }
                  },
                  "400 - Invalid or expired token": {
                    "value": {
                      "error": {
                        "message": "Invalid or expired token"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": ["User"],
        "summary": "Get current user",
        "description": "Get current user",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "200 - Get current user",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "256"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 29 Oct 2024 04:13:27 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"100-n2PTDtqSVspCElSvg8Dh/TCLs74\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "createdAt": {
                          "type": "string",
                          "example": "2024-10-25T12:51:28.774Z"
                        },
                        "email": {
                          "type": "string",
                          "example": "aminrisal@gmail.com"
                        },
                        "id": {
                          "type": "string",
                          "example": "5ec59a42-64f4-437d-8477-3b3db84c60aa"
                        },
                        "name": {
                          "type": "string",
                          "example": "Risal Amin"
                        },
                        "password": {
                          "type": "string",
                          "example": "$2b$10$NQZCR6olPgVJXaqceA8s.eL9zFGyR5SCR/0z1pTDvcbiqcLcQaIFq"
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2024-10-25T12:51:28.774Z"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Get current user": {
                    "value": {
                      "data": {
                        "createdAt": "2024-10-25T12:51:28.774Z",
                        "email": "aminrisal@gmail.com",
                        "id": "5ec59a42-64f4-437d-8477-3b3db84c60aa",
                        "name": "Risal Amin",
                        "password": "$2b$10$NQZCR6olPgVJXaqceA8s.eL9zFGyR5SCR/0z1pTDvcbiqcLcQaIFq",
                        "updatedAt": "2024-10-25T12:51:28.774Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401 - Invalid token",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "http://localhost:3000"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "41"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 28 Oct 2024 15:00:10 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"29-ZgbqETaDNxqczg11v3KWsPM+ATo\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid authorization token"
                    }
                  }
                },
                "examples": {
                  "401 - Invalid token": {
                    "value": {
                      "message": "Invalid authorization token"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": ["User"],
        "summary": "Update current user",
        "description": "Update current user",
        "operationId": "updateCurrentUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "example": "https://storage.cloud.google.com/plane-ticket-be.firebasestorage.app/public/26f3a700-ab4d-49e2-8aa9-dc33aba1e0a7.png"
                  },
                  "name": {
                    "type": "string",
                    "example": "Rem rin"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": "+628123456789"
                  }
                }
              },
              "examples": {
                "Update current user": {
                  "value": {
                    "image": "https://storage.cloud.google.com/plane-ticket-be.firebasestorage.app/public/26f3a700-ab4d-49e2-8aa9-dc33aba1e0a7.png",
                    "name": "Rem rin",
                    "phoneNumber": "+628123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 - Update user by ID",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "https://tiketku.risalamin.com"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "289"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 05 Dec 2024 15:34:03 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"121-ZjVEaJdV9qayP9HLecrEJeEPooM\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "User updated successfully"
                    }
                  }
                },
                "examples": {
                  "201 - Update user by ID": {
                    "value": {
                      "message": "User updated successfully"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409 - Phone number already exists",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "https://tiketku.risalamin.com"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "51"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 10 Dec 2024 10:38:52 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"33-Aaneqqyuv33sbayoyzQELhV3f9c\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Phone number already exists"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "409 - Phone number already exists": {
                    "value": {
                      "error": {
                        "message": "Phone number already exists"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/flights": {
      "get": {
        "tags": ["Flight"],
        "summary": "Get flights from query",
        "description": "[https://plane-ticket-be.web.app/flights](https://plane-ticket-be.web.app/docs)",
        "operationId": "getFlightsFromQuery",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "BUSINESS"
            },
            "description": "ECONOMY | PREMIUM | BUSINESS | FIRST_CLASS"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "shortestDuration"
            },
            "description": "cheapestPrice | shortestDuration | earliestDeparture | latestDeparture | earliestReturn | latestRetur"
          },
          {
            "name": "departureDate",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-05-10"
            }
          },
          {
            "name": "departureAirportId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "947654bd-9806-4a69-a9b6-351824b45da8"
            }
          },
          {
            "name": "destinationAirportId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2515393b-108d-451e-a919-2bfa2e1c336f"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 - Get flights from query",
            "headers": {
              "Access-Control-Allow-Credentials": {
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "11612"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 14 Dec 2024 08:42:01 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2d5c-Cp44ty9WN4qFZOJKwJNiIUVgTXg\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "airline": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "example": "GA"
                              },
                              "id": {
                                "type": "string",
                                "example": "75321628-bb7e-43d3-8113-9287db630ff3"
                              },
                              "image": {
                                "type": "string",
                                "example": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg"
                              },
                              "name": {
                                "type": "string",
                                "example": "Garuda Indonesia"
                              }
                            }
                          },
                          "airplane": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2"
                              },
                              "maxColumn": {
                                "type": "number",
                                "example": 4
                              },
                              "maxRow": {
                                "type": "number",
                                "example": 10
                              },
                              "name": {
                                "type": "string",
                                "example": "Airbus A320"
                              }
                            }
                          },
                          "arrivalTimestamp": {
                            "type": "string",
                            "example": "2025-05-10T17:00:00.000Z"
                          },
                          "departureAirport": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "example": "Jakarta"
                              },
                              "code": {
                                "type": "string",
                                "example": "CGK"
                              },
                              "continent": {
                                "type": "string",
                                "example": "ASIA"
                              },
                              "id": {
                                "type": "string",
                                "example": "947654bd-9806-4a69-a9b6-351824b45da8"
                              },
                              "image": {
                                "type": "string",
                                "example": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg"
                              },
                              "name": {
                                "type": "string",
                                "example": "Soekarno Hatta International"
                              },
                              "type": {
                                "type": "string",
                                "example": "DOMESTIC"
                              }
                            }
                          },
                          "departureTimestamp": {
                            "type": "string",
                            "example": "2025-05-10T12:00:00.000Z"
                          },
                          "destinationAirport": {
                            "type": "object",
                            "properties": {
                              "city": {
                                "type": "string",
                                "example": "Tokyo"
                              },
                              "code": {
                                "type": "string",
                                "example": "HND"
                              },
                              "continent": {
                                "type": "string",
                                "example": "ASIA"
                              },
                              "id": {
                                "type": "string",
                                "example": "2515393b-108d-451e-a919-2bfa2e1c336f"
                              },
                              "image": {
                                "type": "string",
                                "example": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg"
                              },
                              "name": {
                                "type": "string",
                                "example": "Tokyo International Airport"
                              },
                              "type": {
                                "type": "string",
                                "example": "INTERNATIONAL"
                              }
                            }
                          },
                          "discount": {
                            "nullable": true,
                            "example": null
                          },
                          "durationMinutes": {
                            "type": "number",
                            "example": 300
                          },
                          "flightNumber": {
                            "type": "string",
                            "example": "GI1721"
                          },
                          "id": {
                            "type": "string",
                            "example": "071f4774-4cdc-4ea3-bb78-6fa4cbb54c32"
                          },
                          "price": {
                            "type": "number",
                            "example": 4000530
                          },
                          "type": {
                            "type": "string",
                            "example": "BUSINESS"
                          }
                        }
                      },
                      "example": [
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
                          "departureTimestamp": "2025-05-10T12:00:00.000Z",
                          "destinationAirport": {
                            "city": "Tokyo",
                            "code": "HND",
                            "continent": "ASIA",
                            "id": "2515393b-108d-451e-a919-2bfa2e1c336f",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg",
                            "name": "Tokyo International Airport",
                            "type": "INTERNATIONAL"
                          },
                          "discount": null,
                          "durationMinutes": 300,
                          "flightNumber": "GI1721",
                          "id": "071f4774-4cdc-4ea3-bb78-6fa4cbb54c32",
                          "price": 4000530,
                          "type": "BUSINESS"
                        },
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
                          "departureTimestamp": "2025-05-10T13:00:00.000Z",
                          "destinationAirport": {
                            "city": "Tokyo",
                            "code": "HND",
                            "continent": "ASIA",
                            "id": "2515393b-108d-451e-a919-2bfa2e1c336f",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg",
                            "name": "Tokyo International Airport",
                            "type": "INTERNATIONAL"
                          },
                          "discount": null,
                          "durationMinutes": 240,
                          "flightNumber": "GI1722",
                          "id": "07fd235a-1e93-45c5-ba07-a07099331edb",
                          "price": 6000530,
                          "type": "ECONOMY"
                        },
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
                          "departureTimestamp": "2025-05-10T15:00:00.000Z",
                          "destinationAirport": {
                            "city": "Tokyo",
                            "code": "HND",
                            "continent": "ASIA",
                            "id": "2515393b-108d-451e-a919-2bfa2e1c336f",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg",
                            "name": "Tokyo International Airport",
                            "type": "INTERNATIONAL"
                          },
                          "discount": null,
                          "durationMinutes": 120,
                          "flightNumber": "GI1724",
                          "id": "1fae68a6-6f93-4c99-94d0-5b1936461854",
                          "price": 10000530,
                          "type": "PREMIUM"
                        },
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
                          "departureTimestamp": "2025-05-10T12:00:00.000Z",
                          "destinationAirport": {
                            "city": "Tokyo",
                            "code": "HND",
                            "continent": "ASIA",
                            "id": "2515393b-108d-451e-a919-2bfa2e1c336f",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg",
                            "name": "Tokyo International Airport",
                            "type": "INTERNATIONAL"
                          },
                          "discount": null,
                          "durationMinutes": 300,
                          "flightNumber": "GI1721",
                          "id": "241aaf0c-ee9d-4f57-af61-d7b6f91cf0f3",
                          "price": 4000530,
                          "type": "BUSINESS"
                        },
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
                          "departureTimestamp": "2025-05-10T15:00:00.000Z",
                          "destinationAirport": {
                            "city": "Tokyo",
                            "code": "HND",
                            "continent": "ASIA",
                            "id": "2515393b-108d-451e-a919-2bfa2e1c336f",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg",
                            "name": "Tokyo International Airport",
                            "type": "INTERNATIONAL"
                          },
                          "discount": null,
                          "durationMinutes": 120,
                          "flightNumber": "GI1724",
                          "id": "2b9eb6d3-f392-47b9-9780-8abd241bde42",
                          "price": 10000530,
                          "type": "PREMIUM"
                        },
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
                          "departureTimestamp": "2025-05-10T12:00:00.000Z",
                          "destinationAirport": {
                            "city": "Tokyo",
                            "code": "HND",
                            "continent": "ASIA",
                            "id": "2515393b-108d-451e-a919-2bfa2e1c336f",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg",
                            "name": "Tokyo International Airport",
                            "type": "INTERNATIONAL"
                          },
                          "discount": null,
                          "durationMinutes": 300,
                          "flightNumber": "GI1721",
                          "id": "35519711-b3b3-47e0-8804-a22aa052b5e0",
                          "price": 4000530,
                          "type": "BUSINESS"
                        },
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
                          "departureTimestamp": "2025-05-10T14:00:00.000Z",
                          "destinationAirport": {
                            "city": "Tokyo",
                            "code": "HND",
                            "continent": "ASIA",
                            "id": "2515393b-108d-451e-a919-2bfa2e1c336f",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg",
                            "name": "Tokyo International Airport",
                            "type": "INTERNATIONAL"
                          },
                          "discount": null,
                          "durationMinutes": 180,
                          "flightNumber": "GI1723",
                          "id": "483a7452-efa6-497a-baee-28b4dc12c4d4",
                          "price": 8000530,
                          "type": "FIRST_CLASS"
                        },
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
                          "departureTimestamp": "2025-05-10T15:00:00.000Z",
                          "destinationAirport": {
                            "city": "Tokyo",
                            "code": "HND",
                            "continent": "ASIA",
                            "id": "2515393b-108d-451e-a919-2bfa2e1c336f",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg",
                            "name": "Tokyo International Airport",
                            "type": "INTERNATIONAL"
                          },
                          "discount": null,
                          "durationMinutes": 120,
                          "flightNumber": "GI1724",
                          "id": "4ff7cfd2-0259-49b6-99c3-483a8354b66e",
                          "price": 10000530,
                          "type": "PREMIUM"
                        },
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
                          "departureTimestamp": "2025-05-10T12:00:00.000Z",
                          "destinationAirport": {
                            "city": "Tokyo",
                            "code": "HND",
                            "continent": "ASIA",
                            "id": "2515393b-108d-451e-a919-2bfa2e1c336f",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg",
                            "name": "Tokyo International Airport",
                            "type": "INTERNATIONAL"
                          },
                          "discount": null,
                          "durationMinutes": 300,
                          "flightNumber": "GI1721",
                          "id": "5341b17a-c6f5-471d-96d6-3f68190cdba9",
                          "price": 4000530,
                          "type": "BUSINESS"
                        },
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
                          "departureTimestamp": "2025-05-10T15:00:00.000Z",
                          "destinationAirport": {
                            "city": "Tokyo",
                            "code": "HND",
                            "continent": "ASIA",
                            "id": "2515393b-108d-451e-a919-2bfa2e1c336f",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d2c85b9e-a9a9-4cf3-b00b-f0f35ec2c0c6.jpeg",
                            "name": "Tokyo International Airport",
                            "type": "INTERNATIONAL"
                          },
                          "discount": null,
                          "durationMinutes": 120,
                          "flightNumber": "GI1724",
                          "id": "5b410613-ad5f-4e78-a981-ca70fc44037e",
                          "price": 10000530,
                          "type": "PREMIUM"
                        }
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number",
                          "example": 10
                        },
                        "page": {
                          "type": "number",
                          "example": 1
                        },
                        "pageCount": {
                          "type": "number",
                          "example": 4
                        },
                        "recordCount": {
                          "type": "number",
                          "example": 32
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "200 - Get flights from query": {
                    "value": {
                      "data": [
                        {
                          "airline": {
                            "code": "GA",
                            "id": "75321628-bb7e-43d3-8113-9287db630ff3",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/540b0576-33ea-4f85-aee8-4df5c4dcfed9.jpg",
                            "name": "Garuda Indonesia"
                          },
                          "airplane": {
                            "id": "4b99f2f9-ac08-49fc-ae7b-035ac2dfa1d2",
                            "maxColumn": 4,
                            "maxRow": 10,
                            "name": "Airbus A320"
                          },
                          "arrivalTimestamp": "2025-05-10T17:00:00.000Z",
                          "departureAirport": {
                            "city": "Jakarta",
                            "code": "CGK",
                            "continent": "ASIA",
                            "id": "947654bd-9806-4a69-a9b6-351824b45da8",
                            "image": "https://storage.googleapis.com/plane-ticket-be.firebasestorage.app/public/d4f96a6d-5048-44c1-a104-17b341109fab.jpg",
                            "name": "Soekarno Hatta International",
                            "type": "DOMESTIC"
                          },
[...]
